@model E_CommerceSite.Models.Product

@{
    ViewBag.Title = "PublishProduct";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 style="text-align: center">Publish Product</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "registrationForm", id = "registrationForm", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label for="UploadFile" class="col-sm-5 control-label"> Image Input </label>
            <div class="col-md-7">
                <input type="file" style="color: transparent" id="UploadFile" name="UploadFile" accept="image/x-png,image/gif,image/jpeg" onchange="validateFileType()">
                <div id="imgPreview" class="thumbnail" style="display: none; height: 200px; width: 200px; display: flex; background-color: gray">
                    <img class="img-responsive" id="tergetimg" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <select name="CategoryId" id="CategoryId" class="form-control">
                    <option value="">--Select Catagory--</option>
                    @foreach (var category in ViewBag.CategoryId)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <select name="SubCategoryId" id="SubCategoryId" class="form-control">
                    <option value="">--Select Sub Category--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <select name="ItemId" id="ItemId" class="form-control">
                    <option value="">--Select Item--</option>
                </select>
                @Html.ValidationMessageFor(m => m.ItemId)
            </div>
        </div>

        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Description, new { placeholder = " Enter Product Quantity", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <select name="ProductSizeId" id="ProductSizeId" class="form-control">
                    <option value="">--Select Item--</option>
                </select>
                @Html.ValidationMessageFor(m => m.ProductSizeId)
            </div>
        </div>

        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Prize, new { placeholder = " Enter Product Prize", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prize)
            </div>
        </div>

        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
               @Html.TextBoxFor(model => model.Discount, new { placeholder = " Enter Product Discount", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Discount)
            </div>
        </div>

        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Colour, new { placeholder = " Enter Product Colour", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Colour)
            </div>
        </div>


        <div class="form-group">
            <label id="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input type="submit" value="Publish" class="btn btn-default" style="background-color: #4CAF50;color: white" />
            </div>
        </div>
    </div>
}
<h3 style="text-align: center; color: green">@ViewBag.Msg</h3>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/JavaScript1.js"></script>
<script>
        $(document).ready(function() {
            $("#CategoryId").change(function () {
                var catId = $("#CategoryId").val();
                $("#SubCategoryId").empty();
                $("#SubCategoryId").append('<option value="">--Select Sub Category--</option>');
                var json = { catagoryId: catId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubCategoryByCategoryId", "Product")',
                    //url: '/Department/GetStudentsByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#SubCategoryId").append('<option value=' + value.SubCategoryId + '>' + value.SubCategoryName + '</option>');
                        });
                    },
                    error: {

                    },
                    complete: {

                    }
                });

            });
            $("#SubCategoryId").change(function () {
                var subcatId = $("#SubCategoryId").val();
                $("#ItemId").empty();
                $("#ItemId").append('<option value="">--Select Item--</option>');
                var json = { subCatagoryId: subcatId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetItemBySubCategoryId", "Product")',
                    //url: '/Department/GetStudentsByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#ItemId").append('<option value=' + value.ItemId + '>' + value.ItemName + '</option>');
                        });
                    },
                    error: {

                    },
                    complete: {

                    }
                });
                $("#ProductSizeId").empty();
                $("#ProductSizeId").append('<option value="">--Select Product Size--</option>');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetProductSizeBySubCategoryId", "Product")',
                    //url: '/Department/GetStudentsByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#ProductSizeId").append('<option value=' + value.ProductSizeId + '>' + value.ProductSizeName + '</option>');
                        });
                    },
                    error: {

                    },
                    complete: {

                    }
                });
            });
        });
</script>
}
